{% extends 'base.html' %}

{% block title %}Welcome to short.ly{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 text-center">
      <h4 class="display-6 mb-4 fs-3">Welcome to short.ly</h4>
      <p class="mb-4 fs-7">
        Simplify your links with this easy-to-use URL shortener. Create concise, shareable links in just a few clicks.
      </p>
      <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Shorten URL</a>
    </div>
  </div>
</div>
{% endblock %}
